* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid blue; */
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-family: 'Shadows Into Light', cursive;
  border: 1px solid red;
  overflow: hidden;
}

.container {
  background: linear-gradient(rgba(0 0 0 / 40%), rgba(0 0 0 / 40%)),
    url("../images/scblack.jpg");

  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #fff;
  position: relative;
  padding-left: 1.5%;
}

h3 {
  width: 60vw;
}

.title {
  font-family: 'Shadows Into Light', cursive;
  color: #fceb0031;
  font-size: 25vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 32%;
  align-items: center;
}

#array-of-weights {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
   padding: 15px 15px 30px;
   width: 41%;
   border-bottom-right-radius: 40px;
   border-bottom-left-radius: 40px;
}

.div-weights-text {
  margin: 0 2% 0 0;
  width: 103%;
  display: flex;
  gap: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearanonce: textfield;
}

input.weight {
  width: 163px;
  height: 30px;
  padding: 15x 20px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-radius: 4px;
  background-color: rgb(136, 134, 91);
}

#rgtweight,
#lftweight {
  width: 162.7px;
  padding: 5px;
  margin-top: 5%;
  border-radius: 4px;
  background-color: rgb(136, 134, 91);
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.balance {
  border-radius: 5px;
  margin: 7% 0 0 20%;
  padding: 8px 8%;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  background-color: darkkhaki;
  letter-spacing: 2.5px;
  font-size: 18px;
}

#sbform {
  width: 60vw;
}

.precision {
  margin: 10% 0 5px 0;
  width: 100%;
}

.result {
  margin: 40px 0 0;
  width: 100%;
}

.precision-text {
  background-color: darkkhaki;
  padding: 18px 12%;
  width: 100%;
  border-radius: 4px;
  color: #000;
}

@media screen and (max-width: 768px) {
  #sbform {
  width: 80vw;
}

.balance {
margin: 7% 0 0 30%;
}

#rgtweight,
#lftweight {
  width: 155px;
}

.title {
  font-size: 15vh;
  position: absolute;
  top: 47%;
  line-height: 80%;
}
}

@media screen and (max-width: 425px) {
.balance {
margin: 7% 0 0 35%;
}

 #sbform {
  width: 90vw;
}

#rgtweight,
#lftweight {
  width: 100px;
}

.weightsE {
  width: 24vw;
}

h3 {
  width: 85vw;
}

.title {
  font-size: 10vh;
}
}

@media screen and (max-width: 375px) {
.balance {
margin: 7% 0 0 35%;
}

 #sbform {
  width: 92vw;
}

#rgtweight,
#lftweight {
  width: 79px;
}

.weightsE {
  width: 98%;
}

input.weight {
  width: 105px;
}

h3 {
  width: 90vw;
  margin-right: 20px;
  font-size: 15px;
}

#array-of-weights {
  width: 97vw;
  padding-right: 15px;
}
}

@media screen and (max-width: 320px) {
  .weightsE {
  width: 80%;
}

input.weight {
  width: 90px;
}

#rgtweight,
#lftweight {
  width: 54px;
}
}